<div class="container">
  <form [formGroup]="userLogin" (ngSubmit)="login()">
    <div class="mb-3">
      <label class="form-label">UserName</label>
      <input type="text" class="form-control" aria-describedby="emailHelp" name="username" formControlName="username">
      <div id="emailHelp" class="form-text" *ngIf="userLogin.controls.username.hasError('minlength') && userLogin.controls.username.dirty">User name qua ngan</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" formControlName="password">
      <div class="form-text" *ngIf="userLogin.controls.password.hasError('minlength') && userLogin.controls.password.dirty">Password qua ngan</div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
